.chat {
  height: 100vh;
  margin-top: -88px;
  padding-top: 88px;
}

.chat__back {
  position: absolute;
  color: white;
  font-size: 14px;
  top: 8px;
  left: 5px;
}

.chat__header {
  height: 88px;
  background-color: rgb(255, 83, 84);
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.chat__title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 31px;
}

.chat__members {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
}

.chat__body {
  padding: 10px 10px 46px 10px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  min-height: calc(100% - 148px);
  padding-bottom: 48px;

  & > div {
    flex: 0 0 auto;
    width: 100%;
  }
}

.chat__send-btn {
  background: url(../images/send.svg) 5px 8px no-repeat;

  &--active {
    background-color: #ff5354 !important;
  }
}

.chat__message {
  background-color: rgba(0, 0, 0, .1);
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 16px;
  display: inline-block;

  .chat__author {
    font-size: 13px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
    display: inline-block;
  }

  .chat__text {
    font-size: 13px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: initial;
  }

  &.gezer {
    background-color: rgb(255, 83, 84);
    .chat__author {
      color: white;
    }

    .chat__text {
      color: white;
    }
  }

  &.my {
    float: right;
  }
}

.chat__input {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 51px;
  padding: 9px 10px;
  box-sizing: border-box;

  input {
    border-radius: 100px;
    width: calc(100% - 43px);
    border: 1px solid rgba(0, 0, 0, .3);
    height: 33px;
    outline: none;
    padding: 9px 12px;
    box-sizing: border-box;
  }

  button {
    width: 33px;
    height: 33px;
    background-color: rgba(0, 0, 0, .3);
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 100px;
    border: none;
    float: right;

    .active {
      background-color: rgb(255, 83, 84);
      color: white;
    }
  }
}
