.looking {
  background-color: rgb(255, 83, 84);
  height: 100vh;
  padding: 60px 37px;
  box-sizing: border-box;

  h1 {
    font-size: 42px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: rgb(255, 255, 255);

    &.looking__p--last {
      font-size: 11px;
      margin-bottom: 50px;
    }
  }
}

p.looking__cancel-btn {
  top: 10px;
  left: 10px;
  cursor: pointer;
  position: absolute;
  font-size: 0.9em;
}

.looking__wrapper {
  padding-left: inherit;
  padding-right: inherit;
  padding-bottom: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 45px;
}

@keyframes tilt {
  0% { transform: scale(0.8) rotate(20deg); }
  100% { transform: scale(1); }
}

@keyframes toast {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

#beer-loader {
  animation: tilt 6s ease-out forwards, toast 750ms 6s ease-in-out infinite alternate;
}
#foam { fill: #ffeac1; }
#beer { fill: #ffb92a; }
#glass-background { fill: rgba(255,255,255,0.5);}
#glass { fill:none; }

.loading-container {
  margin-top: 2rem;
  width: 100%;
    .loading-text {
      position: relative;

        li {
          color: #fff;
          text-align: center;
          position: absolute;
          left: 0; right: 0;
          opacity: 0;
          // font-family: "brandon-grotesque";
          font-weight: bold;
          font-size: 1.5rem;
          text-transform: uppercase;
          text-wrap: nowrap;
          line-height: 34px;

          transition: all 350ms ease-in-out;

          &:after {
            // content: ' ...';
          }

          &.active {
            opacity: 1;
          }
        }
    }
}
