@import 'reset.scss';
@import 'navigation.scss';
@import 'welcome.scss';
@import 'slot.scss';
@import 'looking.scss';
@import 'chat.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,latin-ext');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

// .fade-enter
// .fade-enter-active
// .fade-enter-to
// .fade-leave
// .fade-leave-active
// .fade-leave-to
