.slot__wrapper {
  padding-left: inherit;
  padding-right: inherit;
  padding-bottom: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.slot {
  background-color: rgb(255, 83, 84);
  height: 100vh;
  padding: 60px 37px;

  h1 {
    font-size: 42px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: rgb(255, 255, 255);
    margin-bottom: 88px;
  }

  .slot__block {
    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;

      &.checked {
        button:not(.active) {
          opacity: .5;
        }
      }

      button {
        width: 92px;
        height: 40px;
        font-size: 10px;
        font-weight: 800;
        text-align: center;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        background: inherit;
        border: 1px solid white;
        outline: none;

        span {
          font-size: 9px;
          font-weight: 500;
          text-align: center;
          color: rgb(255, 255, 255);
          display: block;
        }

        &:hover {

        }

        &.active {
          background-color: rgb(255, 255, 255);
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          color: rgb(255, 83, 84);
          span {
            font-size: 9px;
            font-weight: 500;
            text-align: center;
            color: rgb(255, 83, 84);
          }
        }
      }
    }
  }
}

.slot__block--next {
  > div {
    justify-content: space-around!important;

    button {
      width: auto!important;
      height: 36px!important;
      padding: 0 17px;
    }
  }
}

.slot__submit {
  height: 56px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 27px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 83, 84);
  border: none;

  &.disabled {
    opacity: 0.4;
  }
}
