.welcome {
  padding: 60px 37px;
  background: url('../images/welcome_bg.gif');
  background-size: cover;
  height: 100vh;

  h1 {
    font-size: 42px;
    font-weight: 900;
    color: #ff5354;
    margin-bottom: 12px;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 1px 8px 8px;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

    &.last {
      margin-bottom: 88px;
    }
  }
}

.welcome__bg {
  background-color: rgba(255, 83, 84, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.welcome__wrapper {
  padding-left: inherit;
  padding-right: inherit;
  padding-bottom: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.welcome__login {
  height: 56px;
  background-color: rgb(66, 103, 178);
  width: 100%;
  margin-top: 27px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: white;
  border: none;
  outline: none;
}
