<template>
  <div class="chat">
    <div class="chat__header">
      <span class="chat__back" @click="cancelEvent">ВЫЙТИ</span>
      <p class="chat__title">
        <span v-if="activeMeeting">{{activeMeeting.id | chatname}}</span>
      </p>
      <p class="chat__members" v-if="activeMeeting">
        {{userCount | humanCountString}}, {{humanDate}}, {{humanTime}}
      </p>
    </div>
    <div class="chat__body scroll" id="chat-body">
      <div v-for="message in messages">
        <div v-if="message.id" :class="{gezer: message.sender.id == 'gezer', my: profile.id == message.sender.id}" class="chat__message">
          <p v-if="message.sender.id == 'gezer'" class="chat__author">gezer</p>
          <p v-else class="chat__author">{{message.sender.id | username(message.meetingEvent.id)}}</p>
          <p class="chat__text">{{message.content}}</p>
        </div>
        <div v-else :class="{my: profile.id == message.sender_id}" class="chat__message">
          <p class="chat__author">{{message.sender_id | username(message.meeting_event_id)}}</p>
          <p class="chat__text">{{message.content}}</p>
        </div>
      </div>
      <div id="last-shit"></div>
    </div>
    <form id="chat-input" class="chat__input" v-on:submit.prevent="onSubmit">
      <input type="text" name="" v-model="text">
      <button type="button" class="chat__send-btn" :class="{'chat__send-btn--active': text}" name="button" @click="onSubmit"></button>
    </form>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import VueScrollTo from 'vue-scrollto';
  import {getName, getFamily} from '../aliases.js';
  import {getDateDelta} from '../utils';

  export default {
    data: function(){
      return {
        text: ""
      }
    },
    filters: {
      username: function (id, eventId) {
        return getName(eventId, id)
      },
      chatname: function(id) {
        return getFamily(id).name
      },
      humanCountString: function(val) {
        if (val === 1 || val === 5) {
          return `${val} человек`
        }
        return `${val} человека`
      }
    },
    computed: {
      userCount: function () {
        if (!this.activeMeeting) {
          return 0;
        }
        return this.activeMeeting.users.length
      },
      humanTime: function() {
        if (!this.activeMeeting) {
          return ''
        }
        if (this.activeMeeting.start === 12) {
          return "днём"
        }
        if (this.activeMeeting.start === 18) {
          return "вечером"
        }
        return "ночью"
      },
      humanDate: function() {
        if (!this.activeMeeting) {
          return ''
        }
        const delta = getDateDelta(this.activeMeeting)
        if (delta === 0) {
          return 'сегодня'
        }
        if (delta === 1) {
          return 'на завтра'
        }
        return 'на послезавтра'
      },
      ...mapGetters({
        messages: 'messages',
        token: "token",
        profile: 'profile',
        activeMeeting: 'activeMeeting'
      }),
    },
    methods: {
      onSubmit(){
        this.$store.dispatch('sendMessage', {message: this.text});
        this.text = ""
      },
      cancelEvent(){
        this.$store.dispatch('cancelEvent');
      }
    },
    created() {
      this.$store.dispatch('startSocket')
      this.$store.dispatch('getChat');
    },
    watch: {
      token: function (val) {
        if (val) this.$store.dispatch('startSocket');
      },
      messages: function (val) {
        setTimeout(() => {
          VueScrollTo.scrollTo('#last-shit',-1,{offset: -3, container: "body"})
        }, 50)
      }
    }
  }
</script>
