<template>
  <div class="looking">
    <p class="looking__cancel-btn" @click="cancelRequest">Отменить поиск</p>
    <div class="looking__wrapper">
      <h1>Ищем</h1>
      <p>компанию <span v-if="activeRequest">{{humanTime}}</span> <span v-if="activeRequest">{{humanDate}}</span></p>
      <p class="looking__p--last">обычно это занимает до 5 минут</p>
      <div style="text-align: center; width: 100%">
  <svg
     id="beer-loader"
     xmlns="http://www.w3.org/2000/svg"
     version="1.1"
     viewBox="0 0 149.32631 290"
     height="208px"
     width="135px">
    <g transform="translate(0,20)">
    <path id="glass-background" d="M 74.6641,3.0000052 A 71.662659,24.48007 0 0 0 3,27.480475 L 23,245.35548 a 51.662647,17.648037 0 0 0 51.6641,17.64648 51.662647,17.648037 0 0 0 51.66211,-17.64648 L 146.32631,27.480475 A 71.662659,24.48007 0 0 0 74.6641,3.0000052 Z" />
      <path id="foam" d="m 19.23    199.03 l  3.77  46.33 c 0 9.75 23.13 17.65 51.66 17.65 c 28.53 0 51.66 -7.90 51.66 -17.65 l  3.77  -46.33 c 0  -5.23 -24.82 -13.71 -55.43 -13.71 c -30.61 0 -55.43 8.48 -55.43 13.71 z" />
      <path id="beer" d="m128.73 219.18 c 0  10.19 -24.23  18.45 -54.07  18.45 c -29.74 0 -53.90 -8.21 -54.06 -18.37 l  2.40  26.10 c 0 9.75 23.13 17.65 51.66 17.65 c 28.53 0 51.66 -7.90 51.66 -17.65 z"  />
      <path id="glass" d="M 74.6641,3.0000052 A 71.662659,24.48007 0 0 0 3,27.480475 L 23,245.35548 a 51.662647,17.648037 0 0 0 51.6641,17.64648 51.662647,17.648037 0 0 0 51.66211,-17.64648 L 146.32631,27.480475 A 71.662659,24.48007 0 0 0 74.6641,3.0000052 Z" />

      </g>
  </svg>
  <div class="loading-container">
    <ul id="loadingText" class="loading-text list-unstyled lead text-white" >
      <li>Подбираем тусовку</li>
      <li>Подбираем бар</li>
      <li>Моем бокалы</li>
      <li>Закупаем напитки</li>
      <li>Собираем плейлист</li>
      <li>Разбавляем пиво</li>
      <li>Бронируем столик</li>
      <li>Нарезаем закуску</li>
      <li>Дегустируем напитки</li>
      <li>Вызываем пати-бус</li>
      <li>Договариваемся с соседями</li>
      <li>Заказываем еще по одной</li>
      <li>Вызываем убер</li>
      <li>Подмигиваем бармену</li>
    </ul>
  </div>
</div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {getDateDelta} from '../utils'
  export default {
    created(){
      let interval = null
      const intervalFn = () => {
        this.$store.dispatch('pollViewerStatus', {
          stopPolling: () => interval && window.clearInterval(interval)
        })
      }
      intervalFn()
      interval = setInterval(intervalFn, 5 * 1000)

      setTimeout(() => animate(), 300)
      this.$store.dispatch('fetchActiveRequest')
    },

    beforeDestroy() {
      this.$store.commit('setActiveRequest', null)
    },
    
    computed: {
      humanTime() {
        if (!this.activeRequest) {
          return ''
        }
        const { start } = this.activeRequest
        if (start === 12) {
          return 'на день'
        }
        if (start === 18) {
          return 'на вечер'
        }
        if (start === 22) {
          return 'на ночь'
        }
      },
      humanDate() {
        if (!this.activeRequest) {
          return ''
        }
        const delta = getDateDelta(this.activeRequest)
        if (delta === 0) {
          return 'на сегодня'
        }
        if (delta === 1) {
          return 'на завтра'
        }
        return 'на послезавтра'
      },
      ...mapGetters({
        activeRequest: 'activeRequest'
      }),
    },
    
    methods: {
      cancelRequest() {
        this.$store.dispatch('cancelRequest')
      }
    }
  }

  function animate(){
    try{Typekit.load({ async: true });}catch(e){}

    const duration = 5000;
    const animatePaths = [
      {
        element: document.getElementById('foam'),
        fromPath: document.getElementById('foam').getAttribute('d'),
        toPath: "m  3.00     27.00 l 20.00 218.35 c 0 9.75 23.13 17.65 51.66 17.65 c 28.53 0 50.77 -7.95 51.66 -17.66 l 20.01 -217.86 c 0 -15.96 -41.06 -24.48 -71.67 -24.48 c -30.61 0 -71.66 8.30 -71.66 24.00 z"
      },
      {
        element: document.getElementById('beer'),
        fromPath: document.getElementById('beer').getAttribute('d'),
        toPath: "m143.40  59.32 c 0 -16.00 -38.90 -23.48 -68.74 -23.48 c -29.74 0 -68.74  7.99 -68.74  23.48 l 17.08 186.05 c 0 9.75 23.13 17.65 51.66 17.65 c 28.53 0 51.66 -7.90 51.66 -17.65 z"
      }
    ];

    const loadingText = [].slice.call(document.getElementById('loadingText').children);
    setInterval( () => setLoadingText(), 750 )
    let textIndex = 0

    function setLoadingText() {
      // const idx = Math.round(Math.random() * (loadingText.length - 1));
      loadingText.forEach( item => item.classList.remove('active'));
      loadingText[textIndex].classList.add('active');
      textIndex++;
      if(textIndex > loadingText.length -1) { textIndex = 0; }
    }

    let start;

    function step(timestamp) {
      const getPath = (fromPath, currPathArray) => {
        let index = 0;
        return fromPath.replace(/[^a-zA-Z\s]+/g, (match) => currPathArray[index++]);
      }
      const pathArray = (path) => path.slice(1, -1).trim().split(/\s*[a-zA-Z]\s*|\s+/)
      if (!start) start = timestamp;
      let progress = (timestamp - start) / duration;

      animatePaths.forEach( path => {
        let fromPathArray = pathArray(path.fromPath);
        let toPathArray =  pathArray(path.toPath);
        let currPathArray = fromPathArray.map( (from, idx) => +from + (toPathArray[idx] - from)*progress );
        path.element.setAttribute('d', getPath(path.fromPath, currPathArray));
      })


      if(progress < 1) {
        window.requestAnimationFrame(step);
      }

      }

      window.requestAnimationFrame(step);
  }
</script>
