<template>
  <div class="">
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  export default {
    computed: {
      ...mapGetters({
        profile: 'profile',
      }),
      getImgUrl(){
        return this.profile.avatar
      }
    },
    methods: {
    },
    created(){
      this.$store.dispatch('getProfile');
    }
  }
</script>
