<template>
  <div class="slot">
    <div v-if="firstPage" class="slot__wrapper">
      <h1>На когда?</h1>
      <p>Выбери удобное для тебя время</p>
      <div class="slot__block">
        <div :class="{ checked: day != 0 }">
          <button type="button" :class="{ active: day == getToday }" @click="changeDay(getToday)">Сегодня<span></span></button>
          <button type="button" :class="{ active: day == getTomorrow }" @click="changeDay(getTomorrow)">Завтра<span></span></button>
          <button type="button" :class="{ active: day == getAfterTomorrow }" @click="changeDay(getAfterTomorrow)">Послезавтра<span></span></button>
        </div>
        <div :class="{ checked: time != 0 }">
          <button type="button" :class="{ active: time == 1 }" @click="changeTime(1)">Днем<span>12:00-18:00</span></button>
          <button type="button" :class="{ active: time == 2 }"  @click="changeTime(2)">Вечером<span>18:00-22:00</span></button>
          <button type="button" :class="{ active: time == 3 }"  @click="changeTime(3)">Ночью<span>22:00+</span></button>
        </div>
        <button :class="{ disabled: day == 0 || time == 0 }" type="button" name="button" class="slot__submit" @click="nextPage">Подобрать</button>
      </div>
    </div>
    <div v-else class="slot__wrapper">
      <h1>С кем?</h1>
      <p>Выбирай что хочешь</p>
      <div class="slot__block slot__block--next">
        <div>
          <button type="button" :class="{ active: interests.includes(1) }" @click="changeInterests(1)">Друзья и их друзья</button>
          <button type="button" :class="{ active: interests.includes(2) }" @click="changeInterests(2)">Новые знакомства</button>
        </div>
        <div>
          <button type="button" :class="{ active: interests.includes(3) }" @click="changeInterests(3)">20-30 лет</button>
          <button type="button" :class="{ active: interests.includes(4) }" @click="changeInterests(4)">30-40 лет</button>
          <button type="button" :class="{ active: interests.includes(5) }" @click="changeInterests(5)">40-50 лет</button>
        </div>
        <div>
          <button type="button" :class="{ active: interests.includes(6) }" @click="changeInterests(6)">Включить интересы facebook</button>
        </div>
        <button v-if="interests.length" type="button" name="button" class="slot__submit" @click="submit">Подобрать</button>
        <button v-else type="button" name="button" class="slot__submit" @click="submit">Подобрать рандомно</button>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  export default {
    data: function () {
      return {
        day: 0,
        time: 0,
        firstPage: true,
        interests: []
      }
    },
    computed: {
      getToday(){
        const currentDate = new Date(new Date().getTime() + 0 * 60 * 60 * 1000);
        const day = currentDate.getDate()
        const month = currentDate.getMonth() + 1
        const year = currentDate.getFullYear()

        return `${year}-${month}-${day}`
      },
      getTomorrow(){
        const currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
        const day = currentDate.getDate()
        const month = currentDate.getMonth() + 1
        const year = currentDate.getFullYear()

        return `${year}-${month}-${day}`
      },
      getAfterTomorrow(){
        const currentDate = new Date(new Date().getTime() + 48 * 60 * 60 * 1000);
        const day = currentDate.getDate()
        const month = currentDate.getMonth() + 1
        const year = currentDate.getFullYear()

        return `${year}-${month}-${day}`
      },
    },
    methods: {
      changeDay(date){
        if (date == this.day) {
          this.day = 0
        } else {
          this.day = date
        }
      },
      changeTime(id){
        if (id == this.time) {
          this.time = 0
        } else {
          this.time = id
        }
      },
      changeInterests(id){
        if (this.interests.includes(id)){
          this.interests.splice(this.interests.indexOf(id), 1)
        } else {
          this.interests.push(id)
        }
      },
      nextPage(){
        if (this.day == 0 || this.time == 0) return false
        this.firstPage = false
      },
      submit(){
        const timeArray = [[12,18], [18,22], [22,24]]
        this.$store.dispatch('createEvent', {day: this.day, time: timeArray[this.time - 1]});
      }
    }
  }
</script>
