<template>
  <div class="welcome">
    <div class="welcome__bg"></div>
    <div class="welcome__wrapper">
      <h1>gezer</h1>
      <p>подберет тебе компанию по интересам на удобное время</p>
      <p class="last"></p>
      <button class="welcome__login" type="button" name="button" @click="login">Войти через FB</button>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  export default {
    computed: {
      ...mapGetters({
        apiDomain: 'apiDomain',
      }),
    },

    methods: {
      login(){
        window.location.href = this.apiDomain + "/login/facebook/"
      }
    }
  }
</script>
